@media screen and (min-width: 768px) {
    html{
        font-size: 16px;
    }
    .flex-md{
        display: flex;
        flex-wrap: wrap;
    }
    nav{
        width: 768px;
        margin: auto;
        padding: 1.2rem;
    }
    .container{
        min-width:768px;
        padding: 1rem;
        margin: auto;
    }
    .col-md-100{
        flex-basis: 100%;
    }
    .col-md-50{
        flex-basis: 50%;
    }
    .col-md-1_3{
        flex-basis: calc(100% / 3);
    }
    .col-md-2_3{
        flex-basis: calc(100% / 3 * 2);
    }
    .col-md-1_4{
        flex-basis: 25%;
    }
    .col-md-2_4{
        flex-basis: 50%;
    }
    .col-md-3_4{
        flex-basis: 75%;
    }
    .col-md-1_5{
        flex-basis: 20%;
    }
    .col-md-2_5{
        flex-basis: 40%;
    }
    .col-md-3_5{
        flex-basis: 60%;
    }
    .col-md-1_5{
        flex-basis: 80%;
    }

}


@media screen and (min-width: 920px) {
    html{
        font-size: 18;
    }
    nav{
        width: 920px;
        margin: auto;
        padding: 1rem;
    }
    .container{
        width: 920px;
        padding: 1rem;
        margin: auto;
    }
    .flex-lg{
        display: flex;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    .col-lg-100{
        flex-basis: 100%;
    }
    .col-lg-50{
        flex-basis: 50%;
    }
    .col-lg-1_3{
        flex-basis: calc(100% / 3);
    }
    .col-lg-2_3{
        flex-basis: calc(100% / 3 * 2);
    }
    .col-lg-1_4{
        flex-basis: 25%;
    }
    .col-lg-2_4{
        flex-basis: 50%;
    }
    .col-lg-3_4{
        flex-basis: 75%;
    }
    .col-lg-1_5{
        flex-basis: 20%;
    }
    .col-lg-2_5{
        flex-basis: 40%;
    }
    .col-lg-3_5{
        flex-basis: 60%;
    }
    .col-lg-1_5{
        flex-basis: 80%;
    }

    nav .nav-right ul{
        display: flex;
        align-items: center;
    }
    #icon-logo{
        display: none;
    }

}