@media screen and (min-width: 768px) {
    html{
        font-size: 16px;
    }
    .flex-md{
        display: flex;
        flex-wrap: wrap;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    .flex-centro-md{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav{
        width: 90%;
        max-width: 920px;
        margin: auto;
    }
    .container{
        width:90%;
        max-width: 1200px;
        padding: 1rem;
        margin: auto;
    }
    .col-md-100{
        flex-basis: 100%;
    }
    .col-md-50{
        flex-basis: 50%;
    }
    .col-md-1_3{
        flex-basis: calc(100% / 3);
    }
    .col-md-2_3{
        flex-basis: calc(100% / 3 * 2);
    }
    .col-md-1_4{
        flex-basis: 25%;
    }
    .col-md-2_4{
        flex-basis: 50%;
    }
    .col-md-3_4{
        flex-basis: 75%;
    }
    .col-md-1_5{
        flex-basis: 20%;
    }
    .col-md-2_5{
        flex-basis: 40%;
    }
    .col-md-3_5{
        flex-basis: 60%;
    }
    .col-md-4_5{
        flex-basis: 80%;
    }
    .div95width{
        width: 95%; 
    }
    .div80width{
        width: 80%; 
        margin: auto;
    }

}

/* **********LARGE********** */

@media screen and (min-width: 920px) {
    html{
        font-size: 18;
    }
    nav{
        width: 90%;
        max-width: 1200px;
        margin: auto;
    }
    .container{
        width: 90%;
        max-width: 1200px;
        padding: 1rem;
        margin: auto;
    }
    .flex-lg{
        display: flex;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    .flex-centro-lg{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .flex-end-lg{
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .col-lg-100{
        flex-basis: 100%;
    }
    .col-lg-50{
        flex-basis: 50%;
    }
    .col-lg-1_3{
        flex-basis: calc(100% / 3);
    }
    .col-lg-2_3{
        flex-basis: calc(100% / 3 * 2);
    }
    .col-lg-1_4{
        flex-basis: 25%;
    }
    .col-lg-2_4{
        flex-basis: 50%;
    }
    .col-lg-3_4{
        flex-basis: 75%;
    }
    .col-lg-1_5{
        flex-basis: 20%;
    }
    .col-lg-2_5{
        flex-basis: 40%;
    }
    .col-lg-3_5{
        flex-basis: 60%;
    }
    .col-lg-4_5{
        flex-basis: 80%;
    }

    nav .nav-right ul{
        display: flex;
        align-items: center;
    }
    #icon-logo{
        display: none;
    }
    .pad8rem{
        padding:0 4rem;
    }
    .pad2rem{
        padding:0 1rem;
    }
    .padtopbot2rem{
        padding: 2rem 0;
    }
    .width50{
        width: 50%;
    }
    .width60{
        width: 60%;
    }
    .div95width{
        width: 95%;
        
    }
    .div80width-lg{
        width: 80%; 
        margin: auto;
        padding: 0 2rem;
    }
}