html{
    font-size: 14px;
    line-height: 30px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-size: 20px;
    text-align: center;
    padding: 2rem 2rem;
}
.width50{
    width: 50%;
    margin: auto;
}
.center{
    text-align: center;
}
.card-white{
    width: 80%;
    padding-left: 5rem;
}
.bor-card-white{
    border-radius: 50px;
}
footer{
    background-color: rgb(57, 56, 56);
}

/****  Buttons ****/

.button-radius-large{
    padding: 0.5rem 2rem;
    background-color: #9792e4;
    border-radius: 20px;
    color: white;
    border: none;
}
.apple{
    background-color: #0084fd;
}
.but-rad-50{
    background-color: #9792e4;
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 20px;
    margin-bottom: 2rem;


}
.relative2{
    position: static;
    
}

.cards{
    border-radius: 20px;
    
}
.icon-mobile{
    font-size: 100px;
}
.radius50{
    border-radius: 50%;
    object-fit: cover;
    height: 300px;
    width: 300px;
}
.relative{
    position: relative;
    top: 1rem;
}
.flex-centro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50%
}
.text-center{
    text-align: center;
    margin: auto;
}
p.color-white{
    line-height: 20px;
    font-size: 16px;
    padding: 0;
    text-align: center;
}
span.padtopbot1{
    display: inline-block;
}

.img-md-large50{
    width: 80%;
    
}
.img-80{

}
.icon-first-section{
    font-size: 200px;
}
/*****  Var    *****/

:root{
    /* navbar icone e button */
    --color-primary: #0084fd; 
    /* celeste dentro card */
    --color-secondary: #b5ddff;
    /*  viola section e card */
    --color-tertiary: #9792e4;

    /* color it's Free  #ffc25b */

}
/* **********************
    UTILITIES
*************************/

/********* navbar ********/
nav{
    margin: auto;
    padding: 0.8rem 1.5rem ;
}
nav .nav-right a{
    text-decoration: none;
    color: white;
}
nav .nav-right a i{
    font-size: 1.5rem;
}

nav .nav-right li{
    list-style: none;
    padding: 0.5rem;
}
nav .nav-right button{
    background-color: white;
    padding: 0.5rem 0.8rem;
    border-radius: 20px;
    border: none;
}
nav .nav-right ul{
    display: none;
}
nav .nav-right li:last-child{
    padding: 0;
}

/*********** fine nav ************/
section{
    padding: 2rem 0 3rem;
    margin: auto;
}
.container{
    margin: auto;
}

.row > *{
    flex-grow: 1;
    flex-shrink: 0;
}
.col{
    width: 100%;
}
img{
    width: 100%;
    display: block;
}
.flexjucent{
    display: flex;
    justify-content: center;
}
.text-left{
    text-align: start;
}

/* background color */
.bc3{
    background-color: var(--color-tertiary);
}
.bc2{
    background-color: var(--color-secondary);
}
.bc1{
    background-color: var(--color-primary);
}
.bc-white{
    background-color: white;
}
.color3{
    color: rgb(40, 0, 105);
}
.color-violet{
    color: #9792e4;
}
.color-white{
    color: white;
    text-align: center;
}
.height100{
    height: 100%;
    overflow: hidden;
}


  /*****padding******/

.pad1rem{
    padding: 0.5rem;
}
.pad05topbot{
    padding: 0.5rem 0;
}
.pad2rem{
    padding: 0 1rem;
}
.padtopbot2{
    padding: 2rem 0;
}
.padtopbot05{
    padding: 0.5rem 0;
}
.padtopbot1{
    padding: 1rem 0;
}
.padall1{
    padding: 1rem;
}
.pad2remall{
    padding: 2rem;
}
.margin8rbot{
    margin-bottom: 8rem;
}
.mar-bot-2rem{
    margin-bottom: 2rem;
}


.space-bet{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    background-color: var(--color-primary);
    color: white;
}
.expert-partners .container{
    text-align: center;
}
.mar-top-bot-1rem{
    margin: 1rem auto;
}
.mar-top-bot-2rem{
    margin: 2rem auto;
}
.benefits .container{
    text-align: center;
}
.benefits .container .row .col{
    padding: 0.5rem;
}
.its-free .container .col{
    text-align: center;
    background-color: var(--color-tertiary);
}
footer .container .col-lg-50,footer .container .col-md-50{
    text-align: center;
    margin: auto;
    flex-grow: 1;
}
.color1{
    color: var(--color-primary);
}
.img-sm-large90{
    width: 90%;
}
.about{
    background-color: #9792e4;
    margin-top: 1rem;
    padding: 0.5rem 0.8rem;
    border: none;
    border-radius: 25px;
    color: white;

}
.color-gray{
    color: lightgray;
    padding: 2rem 0 2rem 0 ;
}
.yellow{
    color: rgb(255, 200, 0);
    padding: 3rem 0 2rem 0;
}
.getstarted{
    background-color: whitesmoke;
    border: none;
    color: #9792e4;
    border-radius: 30px;
    padding: 1.5rem 4rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: inline-block;
}
.privacy{
    text-decoration: underline;
}